@media (max-height:450px){
    .sidenav{padding-top: 15px;}
    .sidenav a{font-size: 18px;}
}

@media(max-width:452px){
    .hero-content{
        padding: 40px 20px!important;
    }
}

@media (max-width:600px){
    .hero-img{
        display: none;
    }

    .intro-sec
    .intro-overlay
    .hero-sec
    .hero-overlay
    .hero-content {
    width: 100%!important;
}
}

@media (max-width:600px){
    .hero-content{
    padding: 50px 0px!important;
    text-align: center;
    .hero-btn{
        margin-left: auto;
        margin-right: auto;
    }
    }
}

@media (min-width:601px) and (max-width:830px){
    .intro-sec
    .intro-overlay
    .hero-sec
    .hero-overlay
    .hero-content{
        max-width: 540px!important;
    }
}

@media (max-width:968px){
    #main{
        flex-direction: column;
    }

    .intro-sec{
        width: 100%;
    }
}

@media (max-width:969px){
    #main .hero-sec{
        margin-left: auto!important;
        margin-right: auto!important;
    }

    .side-profile-btn{
        display: block;
    }

    #mySideProfile .closebtn {
        display: block;
    }

    .side-profile{
        transition: 1s;
        width:0;
    }

    .side-details{
        overflow: hidden;
    }

    .side-details-2{
        overflow: hidden;
    }

    .side-navbar.h-100{
        display: none;
        position: sticky;
    }

    .side-navbar.mw-100{
        position: relative;
        min-height: 45px;
        .side-profile-btn.fas.fa-ellipsis-v{
            position: absolute;
            left: 0;
        }
        .openBtn{
            position: absolute;
            right: 0;
        }
    }

    .openBtn{
        margin-right: 10px;
    }

    .intro-overlay{
        padding: 45px 0px!important;
    }

    .side-navbar.mw-100{
        display: flex!important;
    }
}

@media (min-width:970px){
    .side-profile{
        width: 100%!important;
    }
    
    /* #main{
        margin-left: 0px!important;
    } */
}

@media (max-width:1070px){
    h1{
        font-size: calc(1.075rem + 1.5vw)!important;
    }
}