body{
    /* transition: background-color 1s; */
}

body{
    transition: 1s;
}

.main-body{
    position: relative;
    margin: 10px;
    background-color: #191923!important;
}


/* Sidenav */
.side-navbar{
    background: linear-gradient(159deg,rgba(37,37,50,.98) 0%,rgba(35,35,45,.98) 100%);
}

.sidenav{
    overflow: hidden;
    box-shadow: 1px 0px 5px black;
    height: 100%; /* Full-height: remove this if you want "auto", or change value to desired height */
    background-color: #20202a;
    transition: 1s;
    width: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 20px;
    z-index: 9999;

    .sidebar-content{
        padding: 0px 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
}
}

.sidenav a{
    /* transition: 0.3s; */
    display: block;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
}

.side-navbar.mw-100{
    display: none!important;
}

.side-navbar .btOn{
    min-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidenav a:hover{
    color: #f1f1f1;
}

.side-navbar{
    text-align: center;
    top: 0;
    right: 0;
    z-index: 1;
    /* border: red 1px solid; */
    width:100%;
    max-width: 50px;
    justify-content: space-between;
    align-items: center;
}
.openBtn{
    color: #818181;
    font-size: 20px;
    cursor:pointer;   
}

#main
.sidenavbar{
    text-align: center;

}

.intro-sec{
    width: 75%;
}

.side-profile-parent{
    max-width: 250px;
    overflow: hidden;
    width: max-content;
    position: relative;
}

/* Hero Section */
#main{
    overflow-y: hidden;
    max-width: 1400px;
    position: relative;
    margin-left: auto!important;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;  
    justify-content: center;

    .col-md-4{
        position: relative;
    };

    .intro-sec{
        overflow: hidden;
        color: #f1f1f1;
        padding:0px;
    }

    .intro-sec{
        background-size: cover;
        background-image: url("../assets/images/bg.png");
        background-position: 500px;
        position: relative;
    }

    .intro-overlay{
        padding: 90px 0px;
        background-image:linear-gradient(180deg,rgba(30,30,40,.93) 0%,rgba(30,30,40,.96) 70%,rgba(30,30,40,.99) 80%,#1e1e28 100%);
    }

    .hero-sec{
        transition: margin-right 1s,margin-left 1s;
        margin-right: 0px;
        margin-left: 19px;
        max-width: 95%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../assets/images/bg.png");   
    }

    .hero-img{
        position: absolute;
        top: -5.8%;
        right: 0%;
        max-width: 250px;
        width: 100%;
        height: auto;
    }

    .hero-overlay{
        position: relative;
        background-image: linear-gradient(90deg,rgba(45,45,58,.9) 15%,rgba(45,45,58,.7) 50%,rgba(43,43,53,.7) 100%);
    }

    .hero-content{
        max-width: 672px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px 100px;
        min-height: 300px;
        overflow: hidden;

        .hero-head{
            margin-bottom: 15px;
            font-weight: 800;
            font-family: 'Poppins', sans-serif;
        }

        .hero-btn{
            max-width: fit-content;
            text-transform: uppercase;
            height: 45px;
            font-size: 12px;
            padding: 0 35px;
            background-color: red;
            border: none;
            color:white
        }
    }

    .profile-cont{
        transition: all 1s;
        position: relative;
    }

    /* Type Effect */
    #typed{
        font-weight: bolder;
        color: white;
        text-shadow: 1px 1px 2px black;
        font-family: 'Courier New', Courier, monospace;
    }

    .effect-wrapper{
        font-family: 'Poppins', sans-serif;
    }

    .cursor{
        display: inline-block;
        background-color: white;
        animation: blinker 800ms infinite;
    }

    .cursor.typing-true{
        animation: none;
    }

    @keyframes blinker {
        0% { background-color: #00aeff; }
        50% { background-color: transparent; }
        100% { background-color: #00aeff; }
    }

    .typed-text-tag{
        font-family: 'Courier New', Courier, monospace;
        color: red;
        text-shadow: 1px 1px 2px black;
    }
}

/* Profile*/
.side-profile {
    background-color: #20202a;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 0px 5px black;
    min-height: 480px;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    /* border: 1px solid white; */
    z-index: 99999;
    color: white;
    overflow: hidden;
    width: 100%;

    .p-3{
        min-width: 240px;
    }
}

#mySideProfile{
    .closebtn{
    max-height: 45px;
    transition: 0.3s;
    display: block;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    }
}

.side-profile-btn{
    color: #818181;
    margin-left: 10px;
    
}

#mySideProfile .closebtn{
    display: none;
}

.side-details{
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background: linear-gradient(159deg,rgba(37,37,50,.98) 0%,rgba(35,35,45,.98) 100%);;
}

.name-title h6{
    text-wrap: nowrap;
    font-weight: unset;
}

.me{
    max-width: 85px;
    border-radius: 100%;
}

.designation{
    text-align: center;
    width: 100%;
}

.designation-list{
    list-style-type: none;
    color: #8c8c8e;
}

.designation-list li{
    display: inline;
}

.side-details-2 ul li{
 list-style-type: none;
}

.side-details-2
table{
    overflow: auto;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

td.details-head {
    float: left;
    font-weight: 600;
}

.details-data{
    color: #8c8c8e;
    float: right;
}


.channel-link{
    text-decoration: none;
    color: #8c8c8e;
}
