body{
    transition: background-color 1s;
}

.main-body{
    background-color: #191923!important;
}

.side-navbar{
    background-color: #20202a;
}

.sidenav{
    height: 100%; /* Full-height: remove this if you want "auto", or change value to desired height */
    background-color: #20202a;
    transition: 1s;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 20px;
    z-index: 9999;

    .sidebar-content{
        padding: 0px 15px;
        display: flex;
        flex-direction: column;
}
}

.sidenav a{
    transition: 0.3s;
    display: block;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
}

.side-navbar.mw-100{
    display: none;
}


.sidenav a:hover{
    color: #f1f1f1;
}

.side-navbar{
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    /* border: red 1px solid; */
    width:100%;
    max-width: 50px;
}
.openBtn{
    background-color: #23232d;
    color: #818181;
    font-size: 30px;
    cursor:pointer;
   
}

#main{
    transition: margin-right 1s;

    .sidenavbar{
        text-align: center;
    }

    .intro-sec{
        overflow: hidden;
        color: #f1f1f1;
        padding:0px;
    }

    .intro-sec{
        background-size: cover;
        background-image: url("../assets/images/bg.jpg");
        background-position: 500px;
        position: relative;
    }

    .intro-overlay{
        padding: 50px 0px;
        background-image:linear-gradient(180deg,rgba(30,30,40,.93) 0%,rgba(30,30,40,.96) 70%,rgba(30,30,40,.99) 80%,#1e1e28 100%);
    }

    .hero-sec{
        margin-right: auto;
        margin-left: auto;
        max-width: 90%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../assets/images/bg.jpg");   
    }

    .hero-img{
        position: absolute;
        top: -5.8%;
        right: 0%;
        max-width: 250px;
        width: 100%;
        height: auto;
    }

    .hero-overlay{
        position: relative;
        background-image: linear-gradient(90deg,rgba(45,45,58,.9) 15%,rgba(45,45,58,.7) 50%,rgba(43,43,53,.7) 100%);
    }

    .hero-content{
        max-width: 672px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px 100px;
        max-height: 300px;
        min-height: 300px;

        .hero-head{
            margin-bottom: 15px;
            font-size: 42px;
            font-weight: 800;
            font-family: 'Poppins', sans-serif;
        }

        .hero-btn{
            max-width: fit-content;
            text-transform: uppercase;
            height: 45px;
            font-size: 12px;
            padding: 0 35px;
            background-color: red;
            border: none;
            color:white
        }
    }
}