/* Animated Numbers Stats */
@property --num{
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

.years,.projects,.customers{
  font-size: larger;
  color: white;
    counter-reset: num var(--num);
}

.years::before,.projects::before,.customers::before{
  font-size: x-large;
  margin: 0px 15px;
  color: red;
  content: counter(num)"+";
}

.years{
    animation: 2s years forwards;
}

.projects{
    animation: 2s projects forwards;
}

.customers{
    animation: 2s customers forwards;  
}

@keyframes years {
    0% {
      --num: 0;
    }
    100% {
      --num: 2;
    }
  }

  @keyframes projects {
    0% {
      --num: 0;
    }
    100% {
      --num: 100;
    }
  }

  @keyframes customers {
    0% {
      --num: 0;
    }
    100% {
      --num: 50;
    }
  }