<IfModule mod_headers.c>
    Header set Permissions-Policy "autoplay=(self), fullscreen=(self)"
</IfModule>

# Redirect 404 errors to the custom 404 page
ErrorDocument 404 /index.php?page=404

RewriteEngine On

<If "%{HTTP_HOST} == 'localhost'">
    RewriteBase /mscv/
</If>
<Else>
    RewriteBase /
</Else>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?page=$1 [R=301,QSA,L]

